// *** IMPORTS ***
@import "./_partials/reset";
@import "./_partials/variables";
@import "./_partials/typography";
@import "./_partials/nav";
@import "./_partials/staff";
@import "./_partials/gallery";
@import "./_partials/menu";
@import "./_partials/footer";

// GLOBALS
body {
  // width: 100%;
  margin: 0;
}

img {
  width: 100%;
}

// GENERAL
.fadeIn {
  &.hidden {
    opacity: 0;
    transform: translateY(20px);
  }
}

.padded {
  padding-left: 25px;
  padding-right: 25px;
}

.marginTop {
  margin-top: 7rem;
}

.center {
  text-align: center;
}

.content {
  margin-top: 1rem;
  p {
    font-size: 1.05rem;
  }
}
@media only screen and (min-width: $tablet) {
  .content {
    .subtitle {
      font-size: 2.5rem;
      margin-top: 6rem;
    }
    p {
      margin: 1rem auto 0 auto;
      margin-top: 1rem;
      max-width: 700px;
      font-size: 1.05rem;
      letter-spacing: 0.04rem;
    }
  }
}

.fullscreen {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.shaded::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  z-index: 0;
}
.shaded-light::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  z-index: 0;
}

.button-primary {
  margin: 0 auto;
  display: block;
  border-radius: 3px;
  border: 2px solid #333;
  padding: 0.5rem 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-color: transparent;
  font-family: inherit;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  a {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &:hover {
    color: #fff;
    background-color: #333;
  }

  &.spaced {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &.inverted {
    color: #fff;
    background-color: #333;

    &:hover {
      color: #333;
      background-color: #fff;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .button-primary {
    font-size: 1.5rem;
    &.spaced {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
}

.image-wrapper.thin {
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;

  img {
    position: absolute;
    // top: -50%;
  }
}

// HERO
.hero {
  background-image: url("./images/main.jpg");

  .inner-wrapper {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 0 auto;
    width: 90%;
    position: relative;
    z-index: 2;
    transition: opacity 1s ease, transform 1.5s ease;

    .top {
      font-size: 1.1rem;
      font-weight: 400;
      letter-spacing: 0.03em;
      line-height: 1.3em;
    }
    .bottom {
      margin-top: 1rem;
      display: flex;
      justify-content: space-evenly;
      h2 {
        display: inline-block;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: color 0.25s ease, border-color 0.25s ease;
        font-size: 36px;
        &:hover,
        &.active {
          color: #fff;
          border-color: #fff;
        }
      }
    }
  }
  .onHover-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
    z-index: 0;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.active {
      opacity: 1;
    }

    &#bgEat {
      background-image: url("./images/eat.jpg");
    }
    &#bgDrink {
      background-image: url("./images/drink.jpg");
    }
    &#bgVisit {
      background-image: url("./images/visit.jpg");
    }
  }
}

// STORY
#story {
  .story-landing {
    background-image: url("./images/story.jpg");
  }
}

.visit {
  p {
    margin-top: 3rem;
  }
}
