// *** IMPORTS ***
@import "./_partials/reset";
@import "./_partials/typography";
@import "./_partials/nav";

body {
  margin: 0;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.3)),
    url("./images/main.jpg");
  background-size: cover;
  background-position: center;
}
