footer {
  font-size: 0.9rem;
  text-align: center;

  .inner-block {
    margin: 4rem 0;
  }

  p {
    margin: 1rem 0;

    &.rubric {
      font-style: italic;
      font-weight: bold;
    }
  }

  h2 {
    margin: 1.5rem auto;
  }

  .social-link {
    font-size: 1.5rem;
    svg {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.7);
      transition: color 0.2s ease;

      &:hover {
        color: $active;
      }
    }
  }

  .credit a {
    color: $active;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: $tablet) {
  footer {
    padding-bottom: 4rem;
    .inner-block,
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
    .inner-wrapper {
      display: flex;
      justify-content: space-around;
      max-width: 80%;
      margin: 5rem auto 4rem auto;
      font-size: 1.1rem;

      .inner-block p {
        margin: 1rem auto;
        &.rubric {
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
        }
        &:nth-child(2) {
          margin-top: 0rem;
        }
      }

      h2 {
        font-size: 4rem;
        margin-bottom: 3rem;
      }

      .social-links svg {
        font-size: 2rem;
      }

      div:nth-child(odd) {
        flex: 1;
      }
      div:nth-child(even) {
        flex: 3;
      }
    }
  }
  .credit {
    margin: 3rem 0;
    font-size: 1.1rem;
  }
}
