// Menu
.menu {
  .course-header {
    margin-top: 3rem;
  }
  .menu-rubric {
    margin-top: 4rem;
  }

  .menu-item {
    line-height: 2rem;
    font-size: 0.95rem;
    margin: 2rem auto;

    .menu-price {
      font-style: italic;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .menu-group {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    div {
      flex-basis: 300px;
      margin: 0 2rem;
      display: inline-block;
    }
  }
}
