@import url("https://fonts.googleapis.com/css?family=Playfair+Display:500|Poiret+One&display=swap");
body {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Poiret One", cursive;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
h2 {
  font-size: 2.5rem;
}
